body {
	background-color: #f7e9d2;
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	color: #704214;
}

label {
	display: block;
	margin: 20px 0 5px;
	color: #704214;
}

input[type="text"] {
	padding: 8px;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	color: #704214;
	margin-right: 10px;
}

button {
	padding: 8px 16px;
	background-color: #704214;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
}

button:hover {
	background-color: #593c0f;
}

ul {
	margin: 20px 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	padding: 5px;
	background-color: #f3d3a6;
	margin: 5px 0;
}

#bestNumber {
	margin: 20px 0;
	font-size: 18px;
	color: #704214;
}
